{% extends 'base/index.html'%}

{% block content%}

<div class="container">
    <div class="row">
        <div class="text-center"> School list</div>
    </div>

    <div class="container">
        <div class="row justify-content-around">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>

                    {% for school in page_obj %}
                    <tr>
                        <td> {{ school.name }}</td>
                        <td> {{ school.email }}</td>
                        <td>{{ school.address }}</td>
                        <td> <a href="{% 'student:school-update' %}" class="btn btn-info"> Edit</a></td>
                        <td><a href="{% 'student:school-delete' %}" class="btn btn_danger"> Delete</a></td>
                    </tr>

                    {% endfor %}
                </thead>
            </table>
        </div>
    </div>

</div>
{% endblock %}